* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--- css Cabecera --*/
header {
  background: rgba(14, 68, 212, 0.6);
  max-height: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  width: 100%;
}

header .logo {
  float: left;
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

header h1 {
  color: white;
  font-family: Impact;
  font-size: 3em;
  text-align: center;
  text-shadow: 8px 5px 1px #000;
}

nav {
  box-shadow: 0px 8px 11px 0px rgba(14, 14, 15, 0.62);
  font-size: 20px;
  margin-top: 0px;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Menu principal */
.col-menu {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 780px;
}

.menu-main {
  /* border: 1px solid red; */
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*--- Contenido--*/
.contenido {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 16px 0 16px;
}
/* formulario de actualizacion Alumno Docente */
.form-update {
  /* border: 1px solid red; */
  margin: 0 auto;
  max-width: 780px;
}

.form-update legend {
  text-align: center;
}

.form-update .btn-update {
  margin: 0 auto;
  max-width: 350px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mt-2 {
  margin-top: 20px;
}

/* formuario de datos programa */
.form-data {
  border: 1 solid red;
  margin: 0 auto;
  max-width: 365px;
}

/* footer */
footer {
  background-color: black;
  margin-top: 40px;
}

.pie {
  color: #fff;
  font-size: 16px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.pie p {
  margin-left: 20px;
}

.pie span {
  margin-left: 20px;
}
