
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #fff; 
}

th { 
  background: rgba(14, 68, 212, 0.6); 
  color: white; 
  font-weight: bold; 
}
td, th {  
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
    td:nth-child(1):before { content: 'Identificación:'; }
	td:nth-child(2):before { content: 'Nombre:'; }
    td:nth-child(3):before { content: '1° Apellido:'; }
    td:nth-child(4):before { content: '2° Apellido:'; }
    td:nth-child(5):before { content: 'Comentarios:'; }
	
}